body {
	margin: 0;
	padding: 0;
	background-color: pink;
	background: url(https://i.ibb.co/74pN8KK/hannah-morgan-yc-VFts5-Ma4s-unsplash-1.jpg);
	background-size: cover;
	font-family: sans-serif;
	text-align: center;
}
.closetbox{
	width:450px;
	height:600px;
	font-size: 18px;
	background: #990000;
	color: #d8b2d8;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	opacity: 0.9;
	border-radius: 10px;
}
.loginbox{
	width:450px;
	height:600px;
	font-size: 18px;
	background: #345B58;
	color: #dac1a0;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	opacity: 0.9;
	border-radius: 10px;
}
.avatar{
	display: block;
	width: 50%;
	height: 25%;
	position: center;
	margin-left: auto;
	margin-right: auto;
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 18px;
}
.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input{
	width: 100%;
	margin-bottom:20px;
}
.loginbox input[type="username"], input[type="password"]
{
	width: 200px;
	height: 25px;
	border: none;
	border-radius: 5px;
	border-bottom:20px;
	background: white;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	width: 80px;
	height: 25px;
	margin-top: 10px;
	background: #FF3333;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
}
.loginbox input [type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: #dac1a0 ;
}
.loginbox a:hover
{
	color: #ffc107;
}
p:nth-child(5) {
	font-size: 15px;
}
